body{
    font-family: 'Open Sans', sans-serif;
    background-color: #012e32;
    color: lightgreen;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 15px;
}

.center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.text-lightgreen {
    color: lightgreen;
}

.logo {
    border: 3.5px solid #fff;
    border-radius: 50%;
    width: 125px;
    margin-bottom: 3em;
}

.social-icon {
    margin-top: 3em;
}

.social-icon a {
    padding: 1em;
}

a{
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/*----------------------- Spinner -----------------------*/
.loader {
    border: 8px solid #fff;
    border-radius: 50%;
    border-top: 8px solid #012e32;
    border-bottom: 8px solid #012e32;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #012e32;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}